<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Your App Title</title>

  <!-- Include your Tailwind CSS stylesheet -->
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  @!yield('content')
</body>
</html>
